
/***********************
	barre navigation
	*********************/

nav{
	margin: 27px auto 0;

	position: relative;
	width: 470px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #0b043d;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #80b918;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
margin: 0px;
padding: 0px;

}

/***********************
	contenu
	*********************/
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid black;
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #e74c3c;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: grey;
    font-weight: 600;
    text-align: center;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: white;
    border: 1px solid grey;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: red;
    font-size: 0.9rem;
     
}
.blog-text .blog-title{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
}
.blog-text .blog-text:hover{
    color: red;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #000000;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #2c2b2b;
}
.blog-text a:hover{
    color: red;
    transition: all ease 0.3s;
}
footer{
    background-color: #ffffff;
    height: 60px; 
      
}